.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px;
  background-color: #281540;
  color: white;
  padding-left: 30px;
  box-shadow: 5px 5px 5px #41295f;
}

.menu-logo h2 {
  margin: 0;
}