body {
  font-family: 'Arial', sans-serif;
  background-color: #e0d4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Item-list {
  height: 50vh;
  background-color: #f3e8ff;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
  width: 50vw;
  color: #5c2dd5;
  cursor: pointer;
}

.Item-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
  transition: transform 0.2s;
}

.Item-card:hover {
  transform: translateY(-5px);
}

.Item-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.Item-info {
  flex-grow: 1;
}

.Item-name {
  font-size: 1.2em;
  margin: 0;
}

.Item-role {
  font-size: 0.9em;
  color: #666;
}

.Item-level {
  background-color: #5c2dd5;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.highlight {
  color: #007bff;
  font-weight: bold;
}
.actions-container {
  width: auto;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
}
.actions-icons {
  position: relative;
  margin-left: 5px;
  margin-right: 2px;
  height: 20px;
  width: 20px;
  font-weight: 800;
  cursor: pointer;
}
.actions-icons:hover {
  opacity: .5;
}
.Add-button {
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: #5c2dd5;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-list-container {
  display: flex;
  width: 50vw;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: end;
}