@media (min-width: 901px) {
  .character-name, .character-class {
    font-size: medium;
    max-height: 28px;
  }

  .players-card-component {
    margin: 2.5em;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .character-name, .character-class {
    font-size: smaller;
    max-height: 20px;
  }
}

@media (max-width: 600px) {
  .character-name, .character-class {
    font-size: x-small;
    max-height: 20px;
  }
}