.players-edit-icons {
  display: grid;
  justify-content: end;
  margin: 10px;
  cursor: pointer;
}

@media (min-width: 901px) {
  .character-name, .character-class {
    font-size: medium !important;
    max-height: 28px;
  }

  .players-card-component {
    margin: 2.5em;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .character-name, .character-class {
    font-size: smaller !important;
    max-height: 20px;
  }
}

@media (max-width: 600px) {
  .character-name, .character-class {
    font-size: x-small !important;
    max-height: 20px;
  }
}