input {
  border: 1px solid #ccc;
  border-width: thin;
  border-radius: 5px;
  font-family: 'Poppins';
  color: #4f2a83;
  padding: 2px;
  box-sizing: border-box;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  width: 100%;
  font-size: 16px;
}

input:focus, select:focus {
  border-color: #a9a9a9; /* Cor da borda mais escura ao focar */
  outline: none; /* Remover o outline padrão dos navegadores */
  background-color: #fff; /* Fundo branco quando o campo estiver ativo */
}

@media (min-width: 901px) {
  .character-name, .character-class {
    font-size: medium !important;
    max-height: 28px;
  }

  .players-card-component {
    margin: 2.5em;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .character-name, .character-class {
    font-size: smaller !important;
    max-height: 20px;
  }
}

@media (max-width: 600px) {
  .character-name, .character-class {
    font-size: x-small !important;
    max-height: 20px;
  }
}