.generic-form-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  padding: 10px;
  color: #41295f;
  font-weight: 800;
}
.go-back-icon {
  height: 40px;
  margin-left: 10vw;
  cursor: pointer;
}

.generic-form {
  background-color: #F6F3F3;
  max-height: 100vh;
  max-width: 60vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 28px;
}

.generic-form input {
  margin-bottom: 20px;
  height: 32px;
  font-size: 12px;
  color: #41295f;
  font-weight: 800;
  border-radius: 5px;
  width: 80%;
  border: 0px;
}

textarea {
  margin-bottom: 20px;
  height: 100px;
  font-size: 12px;
  color: #41295f;
  font-weight: 800;
  border-radius: 5px;
  width: 80%;
}

.form-submit-button {
  margin-bottom: 20px;
  height: 40px;
  font-size: 12px;
  color: #F6F3F3;
  font-weight: 800;
  width: 80%;
  background: #41295f;
  cursor: pointer;
}

label {
  margin-top: 20px;
  font-size: 12px;
}