.battle-container {
  background-color: #e4dce5;
  width: 100%;
  position:absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 28px;
  margin-top: 3%;
}

.battle-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.edit-icons {
  cursor: pointer;
  display: flex;
}

#edit-title-icon svg:hover {
  fill: blueviolet;
}

#edit-title-icon:hover ~ .battle-title {
  border-bottom: 1px solid blueviolet;
  background-color: #e4dce5;
}

h3 {
  text-align: center;
}

#battle-title-input[contenteditable="true"] {
  border: 1px solid #6a4b94;
  background-color: #e4dce5;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

#battle-title-input[contenteditable="true"]:focus {
  outline: none;
  border: 2px solid blueviolet;
}

@media (min-width: 901px) {
  .battle-container {
    max-width: 70vw;
    min-height: 28vw;
  }

  .battle-header {
    width: 100%;
    height: 5em;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
  }

  .edit-icons {
    align-self: center;
  }

  .edit-icons > span {
    padding: 5px;
  }

  #players-card-container {
    align-self: flex-start;
  }

  #iniciative-card-container {
    align-self: baseline;
  }

  #battle-title-input[contenteditable="true"] {
    min-width: 60vw;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .battle-container {
    max-width: 90vw;
    min-height: 50vw;
  }
}

@media (max-width: 600px) {
  .battle-container {
    max-width: 90vw;
    min-height: 70vw;
  }

  .footer {
    min-height: 20px;
  }
}