@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-scrollbar {
  padding-right: 15px;
  box-sizing: content-box;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6a4b94;
  border-radius: 10px;
  border: 2px solid #d5d1df;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #d5d1df;
  border-radius: 10px;
}

.confirm-icon {
  fill: rgb(7, 95, 7);
  transition: fill 0.5s;
}

.confirm-icon:hover {
  fill: rgb(12, 169, 12);
  transition: fill 0.3s;
}

.close-icon {
  fill: rgb(135, 7, 7);
  transition: fill 0.5s;
}

.close-icon:hover {
  fill: red;
  transition: fill 0.3s;
}